<!-- footer -->

<div class="row footer" style="margin-top: 3px;">
    <div class="card" id="habilidades">

        <!--<section class="p-1" id="footer">-->

        <footer class="bg-light text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-1">
                <!--Grid row-->
                <div class="row justify-content-end ">
                    <!--Grid column-->

                    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                        <!-- Left -->
                        <div class="me-5 d-none d-lg-block">
                            <span>Conexion a redes sociales:</span>
                        </div>
                        <!-- Left -->

                        <!-- Right -->
                        <div>
                            <!-- <a href="#">
                                    <i class="fab fa-facebook-f fa-2x me-3" style="color: #3b5998;"></i>
                                </a> -->

                            <a href="https://www.facebook.com/">
                                <div class="icon icon-facebook"></div>
                            </a>

                            <!--<a href="">
                                    <i class="fab fa-twitter fa-2x me-3" style="color: #55acee;"></i>
                                </a> -->

                            <a href="https://www.twiteer.com/">
                                <div class="icon icon-twitter"></div>
                            </a>


                            <a href="https://www.instagram.com/">
                                <div class="icon icon-instagram"></div>
                            </a>


                            <a href="https://www.linkedin.com/">
                                <div class="icon icon-linkedin"></div>
                            </a>


                            <a href="https://www.github.com/">
                                <div class="icon icon-github"></div>
                            </a>


                        </div>
                        <!-- Right -->
                    </section>


                    <!--Grid column-->


                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <!--© 2022 Copyright: SPECTERMAN LUIS OMAR-->
                <p>© 2022 SPECTERMAN LUIS OMAR. Reservados todos los derechos.</p>
            </div>
            <!-- Copyright -->
        </footer>

        <!-- </div> -->
    </div>
</div>