<!-- Fila tipo card que contiene la seccion contactos-->
<!-- tomada la base de una pagina con ejemplos de boostrap -->
<div class="row" style="margin-top:3px;">
    <div class="card" id="contacto">
        <h1>Contacto</h1>

        <div class="row">

            <div class="col-md-12">

                <div class="container-contacto">
                    <div class="content-contacto">
                        <div class="info-contacto">
                            <h2>Informacion</h2>
                            <p>Para poder contactarme , por favor , utilice alguno de las formas citadas. Muchas
                                gracias.</p>
                            <div class="contacto">
                                <a href="#">
                                    <i class="fa fa-phone"></i>
                                    <span>+5411 61536166</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                    <span>lspecte@gmail.com</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-map-marked"></i>
                                    <span>Buenos Aires, San Martin, Argentina</span>
                                </a>
                            </div>
                        </div>
                        <div class="formulario">
                            <h2>Enviar Mensaje</h2>
                            <form action="#" class="form">
                                <input type="text" name="nombre" placeholder="Nombre Completo" class="campo" required>
                                <div class="box">
                                    <input type="text" name="nombre" placeholder="Email" class="campo" required>
                                    <input type="text" name="nombre" placeholder="Asunto" class="campo" required>
                                </div>
                                <textarea name="mensaje" id="mensaje" placeholder="Mensaje..." class="campo"></textarea>
                                <input type="submit" name="btnenviar" value="Enviar" class="boton">
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>

</div>